/.ipynb_checkpoints
/.virtual_documents
/01-text.py
/02-frame.py
/03-ui.py
/03.20.ipynb
/03.20_2.ipynb
/04-lotto.py
/05-chart.py
/06-file-01.py
/06-file-02.py
/06-session-01.py
/06-session.py
/06-stock-01.py
/06-stock-02.py
/1ck_.pdf
/group.jfif
/lotto.xlsx
/pytest_01.py
/streamlit.py
/travel.jfif
/uni_map1.html
/uni_map2.html
/uni_map3.html
/Untitled.ipynb
/Untitled1.ipynb
/__pycache__
/고등교육기관 하반기 주소록(2024).xlsx
/학교주소좌표.xlsx